@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

.App {
  text-align: center;
  font-family: 'Nova Square', cursive
}



button {
  margin: 12px;
  padding: 12px 24px;
  background-color: orangered;
  outline: none;
  border: none;
  border-radius: 6px;
  color: whitesmoke;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: crimson;
  transform: translateY(-12%);
  box-shadow: 6px 6px 6px black;
}


nav {
  background-color: limegreen;
  padding: 12px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 12px 24px;
  margin: 12px;
}

nav a:hover {
  background-color: lime;
}

input {
  padding: 12px 24px;
  border-radius: 6px;
  margin: 12px 36px;
  font-size: 21px;
}

.modal-dark {
  width: 33%;
  padding-top: 12px;
  background-color: royalblue;
  border-radius: 6px;
  box-shadow: 6px 6px 18px 6px black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}